In [1]:
import pandas as pd

certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)
print(certificates_earned)

Tom      8
Kris     2
Ahmad    5
Beau     6
dtype: int64

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

  ## How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [4]:
race_count = df['race'].unique()
race_count

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

# What is the average age of men?

In [5]:
average_age_men = df['age'].mean()
average_age_men

38.58164675532078

# What is the percentage of people who have a Bachelor's degree?

In [6]:
percentage_bachelors = (df['education'] == 'Bachelors').sum()
percentage_bachelors

5355

In [163]:
df2 = round( (df['education'] == 'Bachelors').values.sum() / df['education'].count()  * 100,2)
df2

16.45

In [8]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [18]:
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

In [92]:
df_HE =df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) ]
len(df_HE)

7491

In [93]:
df_LE =df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) ]
len(df_LE)

25070

In [90]:
df3 =df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) ]
# len(df3)
round( len(df3 ['salary']=='>50k') / len(df) * 100, 2)

23.01

In [84]:
df4 =df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) ]
# len(df4)
round( len(df4 ['salary']=='>50k') / len(df) * 100, 2)

76.99

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [99]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [117]:
num_min_workers = len(df[df['hours-per-week'] == min_work_hours ] )
num_min_workers

20

In [118]:
rich_workers = len(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')])
rich_workers

2

In [116]:
rich_percentage = round(len(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')]) / num_min_workers * 100,2)
rich_percentage

10.0

# What country has the highest percentage of people that earn >50K?

In [120]:
df['native-country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [158]:
highest_earning_country = (df[df['salary'] == '>50K']['native-country'].value_counts() /
                    df['native-country'].value_counts() ).sort_values(ascending=False).index[0]
highest_earning_country

'Iran'

In [162]:
highest_earning_country_percentage = (round(df[df['salary'] == '>50K']['native-country'].value_counts() /
                    df['native-country'].value_counts() * 100,2 ) ).sort_values(ascending=False).value_counts().index[0]
highest_earning_country_percentage

20.0

# Identify the most popular occupation for those who earn >50K in India.

In [148]:
top_IN_occupation = df[(df['salary'] == ">50K") & 
                        (df['native-country'] == "India")]["occupation"].value_counts().index[0]
top_IN_occupation

'Prof-specialty'

In [144]:
len ( df[(df['native-country']=='India' ) & (df['salary']=='>50K') ] )

40

In [152]:
top_IN_occupation = df[(df['native-country']=='India' ) & (df['salary']=='>50K') ] ['occupation'].value_counts().index[0]
top_IN_occupation

'Prof-specialty'